<div class="row" >
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <h4 class="mb-3 card-title">ETAPE 4 : INFORMATIONS BANCAIRES</h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="step1Form">
          <aw-wizard>
            <aw-wizard-step stepTitle="Page 1">
              <div formGroupName="step1Group">
                <h4>TOTAL ACTIF (BZ)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalactifN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="totalactifN" formControlName="totalactifN"
                      placeholder="Année N" (change)="caculateTotalPassifN(); caculateCouvertureDetteBancaireActifsN(); caculateFdrActifsN(); caculateCapitauxPropresActifsN()" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalactifN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalactifN1" formControlName="totalactifN1"
                    (change)="caculateTotalPassifN1(); caculateCouvertureDetteBancaireActifsN1(); caculateFdrActifsN1(); caculateCapitauxPropresActifsN1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalactifN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalactifN2" formControlName="totalactifN2"
                    (change)="caculateTotalPassifN2(); caculateCouvertureDetteBancaireActifsN2(); caculateFdrActifsN2(); caculateCapitauxPropresActifsN2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>TOTAL PASSIF GENERAL (DZ)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalPassifGenN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="totalPassifGenN" formControlName="totalPassifGenN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalPassifGenN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalPassifGenN1" formControlName="totalPassifGenN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalPassifGenN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalPassifGenN2" formControlName="totalPassifGenN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>TOTAL CAPITAUX PROPRES (CP)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalCapitauxPropreN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="totalCapitauxPropreN"
                      formControlName="totalCapitauxPropreN"  (change)="caculateTotalPassifN(); caculateRentabiliteCapitauxPropreN(); caculateCapitauxPropresActifsN(); caculateTresorerieNetteCaN()" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalCapitauxPropreN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalCapitauxPropreN1"
                      formControlName="totalCapitauxPropreN1" (change)="caculateTotalPassifN1(); caculateRentabiliteCapitauxPropreN1(); caculateCapitauxPropresActifsN1(); caculateTresorerieNetteCaN1()" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalCapitauxPropreN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalCapitauxPropreN2"
                      formControlName="totalCapitauxPropreN2" (change)="caculateTotalPassifN2(); caculateRentabiliteCapitauxPropreN2(); caculateCapitauxPropresActifsN2(); caculateTresorerieNetteCaN2()" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>TOTAL PASSIF (DZ-CP)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalPassifN" class="form-label">Année N</label>
                    <input  type="text" class="form-control" id="totalPassifN" formControlName="totalPassifN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalPassifN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalPassifN1" formControlName="totalPassifN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalPassifN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalPassifN2" formControlName="totalPassifN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>CHIFFRE D'AFFAIRE (XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="chiffreAffaireXBN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="chiffreAffaireXBN" formControlName="chiffreAffaireXBN" (change)="caculateCroissanceCAN(); caculateFraisFinancierCAN(); caculateEbecaN(); caculateRentabiliteN()"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="chiffreAffaireXBN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="chiffreAffaireXBN1" formControlName="chiffreAffaireXBN1" (change)="caculateCroissanceCAN(); caculateCroissanceCAN1(); caculateFraisFinancierCAN1(); caculateEbecaN1(); caculateRentabiliteN1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="chiffreAffaireXBN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="chiffreAffaireXBN2" formControlName="chiffreAffaireXBN2" (change)="caculateCroissanceCAN1(); caculateFraisFinancierCAN2(); caculateEbecaN1(); caculateRentabiliteN2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>CROISSANCE DU CHIFFRE D'AFFAIRE</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="croissanceChiffreAffaireN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="croissanceChiffreAffaireN"
                      formControlName="croissanceChiffreAffaireN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="croissanceChiffreAffaireN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="croissanceChiffreAffaireN1"
                      formControlName="croissanceChiffreAffaireN1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="croissanceChiffreAffaireN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="croissanceChiffreAffaireN2"
                      formControlName="croissanceChiffreAffaireN2" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>EMPRUNTS DETTES FINANCIERES (DA)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="empruntsDetteFinancieresN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="empruntsDetteFinancieresN"
                      formControlName="empruntsDetteFinancieresN" placeholder="Année N" (change)="caculateCouvertureDetteBancaireActifsN(); caculateCapaciteRemboursement()"/>
                  </div>
                  <div class="col-md-4">
                    <label for="empruntsDetteFinancieresN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="empruntsDetteFinancieresN1"
                      formControlName="empruntsDetteFinancieresN1" placeholder="Année N-1" (change)="caculateCouvertureDetteBancaireActifsN1(); caculateCapaciteRemboursement1()" />
                  </div>
                  <div class="col-md-4">
                    <label for="empruntsDetteFinancieresN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="empruntsDetteFinancieresN2"
                      formControlName="empruntsDetteFinancieresN2" placeholder="Année N-2" (change)="caculateCouvertureDetteBancaireActifsN2(); caculateCapaciteRemboursement2()" />
                  </div>
                </div>
                <h4>TOTAL TRESORERIE PASSIF (DT)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalTresoreriePassif" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="totalTresoreriePassif"
                      formControlName="totalTresoreriePassif" placeholder="Année N" (change)="caculateCouvertureDetteBancaireActifsN(); caculateLiquiditeGeneral()" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalTresoreriePassif1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalTresoreriePassif1"
                      formControlName="totalTresoreriePassif1" placeholder="Année N-1" (change)="caculateCouvertureDetteBancaireActifsN1(); caculateLiquiditeGeneral1()"/>
                  </div>
                  <div class="col-md-4">
                    <label for="totalTresoreriePassif2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalTresoreriePassif2"
                      formControlName="totalTresoreriePassif2" placeholder="Année N-2" (change)="caculateCouvertureDetteBancaireActifsN2(); caculateLiquiditeGeneral2()" />
                  </div>
                </div>
                <h4>COUVERTURE DE LA DETTE BANCAIRE PAR LES ACTIFS ((DA+DT)/BZ)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="couvertureDetteBancaireActifsN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="couvertureDetteBancaireActifsN"
                      formControlName="couvertureDetteBancaireActifsN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="couvertureDetteBancaireActifsN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="couvertureDetteBancaireActifsN1"
                      formControlName="couvertureDetteBancaireActifsN1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="couvertureDetteBancaireActifsN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="couvertureDetteBancaireActifsN2"
                      formControlName="couvertureDetteBancaireActifsN2" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>FRAIS FINANCIERS (RM)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="fraisFinancierN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="fraisFinancierN" formControlName="fraisFinancierN" (change)="caculateFraisFinancierCAN()"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="fraisFinancierN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="fraisFinancierN1" formControlName="fraisFinancierN1" (change)="caculateFraisFinancierCAN1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="fraisFinancierN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="fraisFinancierN2" formControlName="fraisFinancierN2" (change)="caculateFraisFinancierCAN2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>FRAIS FINANCIERS EN % DU CHIFFRE D'AFFAIRE (RM/XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="fraisFinancierCAN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="fraisFinancierCAN" formControlName="fraisFinancierCAN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="fraisFinancierCAN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="fraisFinancierCAN1" formControlName="fraisFinancierCAN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="fraisFinancierCAN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="fraisFinancierCAN2" formControlName="fraisFinancierCAN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>CAPACITE D'AUTOFINANCEMENT (FA)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="capaciteAutoFinancementN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="capaciteAutoFinancementN"
                      formControlName="capaciteAutoFinancementN" placeholder="Année N" (change)="caculateCapaciteRemboursement(); caculateCacfgNaN()" />
                  </div>
                  <div class="col-md-4">
                    <label for="capaciteAutoFinancementN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="capaciteAutoFinancementN1"
                      formControlName="capaciteAutoFinancementN1" placeholder="Année N-1" (change)="caculateCapaciteRemboursement1(); caculateCacfgNaN1()" />
                  </div>
                  <div class="col-md-4">
                    <label for="capaciteAutoFinancementN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="capaciteAutoFinancementN2"
                      formControlName="capaciteAutoFinancementN2" placeholder="Année N-2" (change)="caculateCapaciteRemboursement2(); caculateCacfgNaN2()" />
                  </div>
                </div>
                <h4>TOTAL TRESORERIE ACTIF (BT)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="totalTresorerieActifN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="totalTresorerieActifN"
                      formControlName="totalTresorerieActifN" placeholder="Année N" (change)="caculateLiquiditeGeneral()" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalTresorerieActifN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="totalTresorerieActifN1"
                      formControlName="totalTresorerieActifN1" placeholder="Année N-1" (change)="caculateLiquiditeGeneral1()" />
                  </div>
                  <div class="col-md-4">
                    <label for="totalTresorerieActifN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="totalTresorerieActifN2"
                      formControlName="totalTresorerieActifN2" placeholder="Année N-2" (change)="caculateLiquiditeGeneral2()" />
                  </div>
                </div>
                <h4>CAPACITE DE REMBOURSEMENT( DA/FA)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="capaciteRemboursement" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="capaciteRemboursement"
                      formControlName="capaciteRemboursement" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="capaciteRemboursement1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="capaciteRemboursement1"
                      formControlName="capaciteRemboursement1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="capaciteRemboursement2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="capaciteRemboursement2"
                      formControlName="capaciteRemboursement2" placeholder="Année N-2" />
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button class="btn btn-secondary me-2" type="button" awNextStep>
                    Suivant
                  </button>

                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Page 2">
              <div formGroupName="step2Group">
                <h4>RESULTAT NET (XI)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="resultatNetN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="resultatNetN"
                      formControlName="resultatNetN" placeholder="Année N" (change)="caculateRentabiliteCapitauxPropreN(); caculateRentabiliteN(); caculateCacfgNaN()" />
                  </div>
                  <div class="col-md-4">
                    <label for="resultatNetN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="resultatNetN1"
                      formControlName="resultatNetN1" placeholder="Année N-1" (change)="caculateRentabiliteCapitauxPropreN1(); caculateRentabiliteN1(); caculateCacfgNaN1()" />
                  </div>
                  <div class="col-md-4">
                    <label for="resultatNetN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="resultatNetN2"
                      formControlName="resultatNetN2" placeholder="Année N-2" (change)="caculateRentabiliteCapitauxPropreN2(); caculateRentabiliteN2(); caculateCacfgNaN2()" />
                  </div>
                </div>
                <h4>RENTABILITE CAPITAUX PROPRES (XI/CP)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="rentabiliteCapitauxPropreN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="rentabiliteCapitauxPropreN" formControlName="rentabiliteCapitauxPropreN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="rentabiliteCapitauxPropreN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="rentabiliteCapitauxPropreN1" formControlName="rentabiliteCapitauxPropreN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="rentabiliteCapitauxPropreN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="rentabiliteCapitauxPropreN2" formControlName="rentabiliteCapitauxPropreN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>EXEDENT BRUT D'EXPLOITATION (XD)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="exedentBrutExploitationN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="exedentBrutExploitationN" formControlName="exedentBrutExploitationN" placeholder="Année N" (change)="caculateEbecaN()" />
                  </div>
                  <div class="col-md-4">
                    <label for="exedentBrutExploitationN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="exedentBrutExploitationN1" formControlName="exedentBrutExploitationN1" placeholder="Année N-1" (change)="caculateEbecaN1()"  />
                  </div>
                  <div class="col-md-4">
                    <label for="exedentBrutExploitationN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="exedentBrutExploitationN2" formControlName="exedentBrutExploitationN2" placeholder="Année N-2" (change)="caculateEbecaN2()" />
                  </div>
                </div>
                <h4>EBE/CA (XD/XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="ebecaN" class="form-label">Année N</label>
                    <input type="text"  class="form-control" id="ebecaN" formControlName="ebecaN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="ebecaN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="ebecaN1"
                      formControlName="ebecaN1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="ebecaN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="ebecaN2"
                      formControlName="ebecaN2" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>RENTABILITE (XI/XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="rentabiliteN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="rentabiliteN" formControlName="rentabiliteN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="rentabiliteN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="rentabiliteN1" formControlName="rentabiliteN1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="rentabiliteN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="rentabiliteN2" formControlName="rentabiliteN2" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>CAFG/CA (FA/XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="cacfgNaN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="cacfgNaN" formControlName="cacfgNaN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="cacfgNaN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="cacfgNaN1" formControlName="cacfgNaN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="cacfgNaN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="cacfgNaN2" formControlName="cacfgNaN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>ACTIFS CIRCULANTS (BK)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="actifCirculantN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="actifCirculantN" formControlName="actifCirculantN" placeholder="Année N" (change)="caculateFondRoulementN(); caculateLiquiditeGeneral()" />
                  </div>
                  <div class="col-md-4">
                    <label for="actifCirculantN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="actifCirculantN1" formControlName="actifCirculantN1" placeholder="Année N-1"(change)="caculateFondRoulementN1(); caculateLiquiditeGeneral1()"  />
                  </div>
                  <div class="col-md-4">
                    <label for="actifCirculantN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="actifCirculantN2" formControlName="actifCirculantN2" placeholder="Année N-2" (change)="caculateFondRoulementN2(); caculateLiquiditeGeneral2()" />
                  </div>
                </div>
                <h4>PASSIFS CIRCULANTS (DP)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="passifCirculantN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="passifCirculantN" formControlName="passifCirculantN" (change)="caculateFondRoulementN();  caculateLiquiditeGeneral()"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="passifCirculantN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="passifCirculantN1" formControlName="passifCirculantN1" (change)="caculateFondRoulementN1();  caculateLiquiditeGeneral1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="passifCirculantN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="passifCirculantN2" formControlName="passifCirculantN2" (change)="caculateFondRoulementN2();  caculateLiquiditeGeneral2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>FONDS DE ROULEMENT (BK-DP)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="fondRoulementN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="fondRoulementN" formControlName="fondRoulementN" (change)="caculateFdrActifsN()"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="fondRoulementN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="fondRoulementN1" formControlName="fondRoulementN1" (change)="caculateFdrActifsN1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="fondRoulementN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="fondRoulementN2" formControlName="fondRoulementN2" (change)="caculateFdrActifsN2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>FDR/ ACTIFS</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="fdrActifsN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="fdrActifsN" formControlName="fdrActifsN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="fdrActifsN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="fdrActifsN1" formControlName="fdrActifsN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="fdrActifsN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="fdrActifsN2" formControlName="fdrActifsN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>CAPITAUX PROPRES/ACTIFS (CP/BZ)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="capitauxPropresActifsN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="capitauxPropresActifsN" formControlName="capitauxPropresActifsN" placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="capitauxPropresActifsN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="capitauxPropresActifsN1" formControlName="capitauxPropresActifsN1" placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="capitauxPropresActifsN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="capitauxPropresActifsN2" formControlName="capitauxPropresActifsN2" placeholder="Année N-2" />
                  </div>
                </div>
                <h4>TRESORERIE NETTE AU 31 DECEMBRE (ZH)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="tresorerieNettteN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="tresorerieNettteN" formControlName="tresorerieNettteN" (change)="caculateTresorerieNetteCaN()"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="tresorerieNettteN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="tresorerieNettteN1" formControlName="tresorerieNettteN1" (change)="caculateTresorerieNetteCaN1()"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="tresorerieNettteN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="tresorerieNettteN2" formControlName="tresorerieNettteN2" (change)="caculateTresorerieNetteCaN2()"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>TRESORERIE NETTE/CA (en jours) (ZH/XB)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="tresorerieNetteCaN" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="tresorerieNetteCaN" formControlName="tresorerieNetteCaN"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="tresorerieNetteCaN1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="tresorerieNetteCaN1" formControlName="tresorerieNetteCaN1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="tresorerieNetteCaN2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="tresorerieNetteCaN2" formControlName="tresorerieNetteCaN2"
                      placeholder="Année N-2" />
                  </div>
                </div>
                <h4>Liquidité Général (BK+BT)/(DP+DT)</h4>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="liquiditeGeneral" class="form-label">Année N</label>
                    <input type="text" class="form-control" id="liquiditeGeneral" formControlName="liquiditeGeneral"
                      placeholder="Année N" />
                  </div>
                  <div class="col-md-4">
                    <label for="liquiditeGeneral1" class="form-label">Année N-1</label>
                    <input type="text" class="form-control" id="liquiditeGeneral1" formControlName="liquiditeGeneral1"
                      placeholder="Année N-1" />
                  </div>
                  <div class="col-md-4">
                    <label for="liquiditeGeneral2" class="form-label">Année N-2</label>
                    <input type="text" class="form-control" id="liquiditeGeneral2" formControlName="liquiditeGeneral2"
                      placeholder="Année N-2" />
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-secondary me-2" type="button" awPreviousStep>
                      Revenir
                    </button>
                    <button class="btn btn-light me-2" type="button" (click)="goToCreditScoringView()">
                      Evaluer
                    </button>
                  </div>
                </div>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </form>
      </div>
    </div>
  </div>
</div>
