<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <img
                  class="img-xs rounded-circle"
                  src="https://via.placeholder.com/37x37"
                  alt=""
                />
                <div class="ms-2">
                  <h3>GIE HEVEA</h3>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <p class="x-13 fw-bolder">
                <i class="feather icon-at-sign icon-md"></i> gie-hevea@gmail.com
              </p>
            </div>
            <div class="mt-3">
              <p class="x-13 fw-bolder">
                <i class="feather icon-phone icon-md"></i> 07 07 07 07 07
              </p>
            </div>
            <div class="mt-3">
              <p class="x-13 fw-bolder">Id: SK0234NI</p>
            </div>
          </div>
          <div class="card-footer d-grid gap-2">
            <a href="" (click)="(false)" class="btn btn-secondary"
              >Renseigner mes infos</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-9 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h3 class="mb-0">Bienvenu dans votre espace client</h3>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <ul>
                  <li class="mt-3">
                    Pour tout contrat de pret vous vous devew de creer un compte
                    chez nos partenaire bancaire
                  </li>
                  <li class="mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                  <li class="mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                  <li class="mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <h3 class="mb-3 card-title">Remplissez vos informations</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="step1Form">
          <aw-wizard>
            <aw-wizard-step stepTitle="Etape 1">
              <div formGroupName="step1Group">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="typeEntite" class="form-label"
                      >Type d'entité</label
                    >
                    <select
                      formControlName="typeEntite"
                      class="form-select"
                      id="typeEntite"
                      title="typeEntite"
                    >
                      <option selected disabled>selectionner un type</option>
                      <option
                        *ngFor="let typeEntite of typeEntites"
                        value="{{typeEntite}}"
                      >
                        {{ typeEntite }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="denomination" class="form-label"
                      >Dénomination complète de l'entité</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="denomination"
                      formControlName="denomination"
                      placeholder="Dénomination complète de l'entité"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="abbreviation" class="form-label"
                      >Abbreviation</label
                    >
                    <input
                      type="text"
                      formControlName="abreviation"
                      class="form-control"
                      id="abbreviation"
                      placeholder="Abbreviation"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="typeEntite" class="form-label"
                      >Filière d'intervention de l'entité</label
                    >
                    <ng-select
                      [items]="filiereInterventions"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [searchable]="false"
                      bindLabel="name"
                      placeholder="selectionner une filière"
                      formControlName="filiereIntervention"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="col-form-label">Région d'implantation</label>
                    <div class="row">
                      <div class="col-md-4">
                        <select
                          class="form-select"
                          formControlName="villeRegionImplementation"
                          id="villeRegionImplementation"
                          title="villeRegionImplementation"
                        >
                          <option selected disabled>Ville</option>
                          <option
                            *ngFor="let ville of villes"
                            value="{{ ville }}"
                          >
                            {{ ville }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <select
                          class="form-select"
                          formControlName="communeRegionImplementation"
                          id="communeRegionImplementation"
                          title="communeRegionImplementation"
                        >
                          <option selected disabled>Commune</option>
                          <option
                            *ngFor="let commune of communes"
                            value="{{ commune }}"
                          >
                            {{ commune }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <input
                          type="text"
                          class="form-control"
                          id="detail"
                          formControlName="detailRegionImplementation"
                          placeholder="Détails"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Siège social</label>
                    <div class="row">
                      <div class="col-md-4">
                        <select
                          class="form-select"
                          formControlName="villeSiegeSocial"
                          id="villeSiegeSocial"
                          title="villeSiegeSocial"
                        >
                          <option selected disabled>Ville</option>
                          <option
                            *ngFor="let ville of villes"
                            value="{{ ville }}"
                          >
                            {{ ville }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <select
                          class="form-select"
                          formControlName="communeSiegeSocial"
                          id="communeSiegeSocial"
                          title="communeSiegeSocial"
                        >
                          <option selected disabled>Commune</option>
                          <option
                            *ngFor="let commune of communes"
                            value="{{ commune }}"
                          >
                            {{ commune }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <input
                          type="text"
                          class="form-control"
                          id="detail"
                          formControlName="detailSiegeSocial"
                          placeholder="Détails"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="site" class="form-label">Date de creation</label>
                    <input
                      type="date"
                      formControlName="dateCreationEntite"
                      class="form-control"
                      id="dateCreationEntite"
                      placeholder="07/07/07"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="telephone" class="form-label">Adresse Postale</label>
                    <input
                      type="text"
                      formControlName="adressePostal"
                      class="form-control"
                      id="adressePostal"
                      placeholder="adresse postale"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="site" class="form-label">Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      id="email"
                      placeholder="email@example.com"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="telephone" class="form-label">Téléphone</label>
                    <input
                      type="phone"
                      formControlName="telephone"
                      class="form-control"
                      id="abbreviation"
                      placeholder="0707070707"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="creation" class="form-label"
                      >Site internet(si existant)</label
                    >
                    <input
                      type="text"
                      formControlName="siteInternet"
                      class="form-control"
                      id="siteInternet"
                      placeholder=""
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="capitalSocial" class="form-label"
                      >Capital social</label
                    >
                    <input
                      type="text"
                      formControlName="capitalSocial"
                      class="form-control"
                      id="capitalSocial"
                      placeholder="0707070707"
                    />
                  </div>

                  <div class="col-md-4">
                    <label for="statut" class="form-label"
                      >Statut juridique</label
                    >
                    <select
                      class="form-select"
                      id="statut"
                      formControlName="statutJuridique"
                    >
                      <option selected disabled>selectionner un status</option>
                      <option
                        *ngFor="let statut of statutJuridiques"
                        value="{{ statut }}"
                      >
                        {{ statut }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3" formArrayName="entrepots">
                  <div
                    class="col-md-12"
                    *ngFor="let entrepot of entrepots.controls; let i = index"
                  >
                    <div class="row" [formGroup]="entrepot">
                      <label class="form-label"
                        >Entrepot, capacité de stockage et localisation</label
                      >
                      <div class="col-md-3">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="capacite"
                          name="capacite"
                          id="capacite"
                          placeholder="Capacité entrepot"
                        />
                      </div>
                      <div class="col-md-3">
                        <select
                          class="form-select"
                          formControlName="ville"
                          id="ville"
                          title="ville"
                        >
                          <option selected disabled>Ville</option>
                          <option
                            *ngFor="let ville of villes"
                            value="{{ ville }}"
                          >
                            {{ ville }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-2">
                       <select
                          class="form-select"
                          formControlName="commune"
                          id="commune"
                          title="commune"
                        >
                          <option selected disabled>Commune</option>
                          <option
                            *ngFor="let commune of communes"
                            value="{{ commune }}"
                          >
                            {{ commune }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="details"
                          id="details"
                          placeholder="Détails"
                        />
                      </div>
                      <div
                        class="col-md-1 d-flex justify-content-center align-items-center"
                      >
                        <i
                          class="feather icon-plus-circle icon-md onboarding-add-icon mt-2"
                          width="34"
                          (click)="addEntrepot()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button
                    class="btn btn-light me-2"
                    type="button"
                    (click)="patchKyc()"
                  >
                    Enregister
                  </button>
                  <button class="btn btn-primary" type="button" awNextStep>
                    Continue
                  </button>
                </div>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="step 2">
              <div formGroupName="step2Group">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label"
                      >Numéro de référence fiscal et DFE</label
                    >
                    <div class="row">
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control"
                          id="creation"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-6">
                        <input class="form-control" type="file" id="formFile" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Numéro d'entreprise(RCCM)</label>
                    <div class="row">
                      <div class="col-md-6">
                        <input
                          type="text"
                          class="form-control"
                          id="creation"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-6">
                        <input class="form-control" type="file" id="formFile" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="licenseExploitation" class="form-label"
                      >License d'exploitation</label
                    >
                    <input
                      class="form-control"
                      type="file"
                      id="licenseExploitation"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="statutFile" class="form-label">Status</label>
                    <input class="form-control" type="file" id="statutFile" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="organigrammeFile" class="form-label"
                      >Organigramme</label
                    >
                    <input
                      class="form-control"
                      type="file"
                      id="organigrammeFile"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="certificationFile" class="form-label"
                      >Certification et produits</label
                    >
                    <input
                      class="form-control"
                      type="file"
                      id="certificationFile"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                  <button
                    class="btn btn-secondary me-2"
                    type="button"
                    awPreviousStep
                  >
                    Back
                  </button>
                  <button class="btn btn-primary" type="button" awNextStep>
                    Continue
                  </button>
                </div>
              </div>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Step 3">
              <div formGroupName="step3Group">
                <div class="row mb-4" formArrayName="actionnaires">
                  <h3>LES ACTIONNAIRES</h3>
                  <div
                    class="col-md-12"
                    *ngFor="
                      let actionnaire of actionnaires.controls;
                      let i = index
                    "
                  >
                    <div class="row" [formGroup]="actionnaire">
                      <div class="col-md-3">
                        <label for="nomPrenomActionnaires" class="form-label"
                          >Nom & Prennoms actionnaire !</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="nomPrenom"
                          name="nomPrenom"
                          id="nomPrenomActionnaires"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-3">
                        <label for="datePrisePosition" class="form-label"
                          >Date prise de position</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="datePrisePosition"
                          id="datePrisePositionAction"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-2">
                        <label for="pourcentage" class="form-label"
                          >Pourcentage</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="pourcentage"
                          id="pourcentageAction"
                          placeholder="xx%"
                        />
                      </div>
                      <div class="col-md-3">
                        <label for="telephone" class="form-label"
                          >Contact</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="telephone"
                          id="telephoneAction"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div
                        class="col-md-1 d-flex justify-content-center align-items-center"
                      >
                        <i
                          class="feather icon-plus-circle icon-md onboarding-add-icon mt-4"
                          width="34"
                          (click)="addActionnaires()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-3" formArrayName="responsables">
                  <h3>LES RESPONSABLES</h3>
                  <div
                    class="col-md-12"
                    *ngFor="
                      let responsables of responsables.controls;
                      let i = index
                    "
                  >
                    <div class="row" [formGroupName]="i">
                      <div class="col-md-3">
                        <label for="nomPrenomResponsable" class="form-label"
                          >Nom & Prennoms Responsable !</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="nomPrenom"
                          id="nomPrenomResponsable"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-3">
                        <label for="datePrisePositionRespo" class="form-label"
                          >Date de prise de position</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          formControlName="datePrisePosition"
                          id="datePrisePositionRespo"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div class="col-md-2">
                        <label for="pourcentageRespo" class="form-label"
                          >Pourcentage</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="pourcentage"
                          id="pourcentageRespo"
                          placeholder="xx%"
                        />
                      </div>
                      <div class="col-md-3">
                        <label for="telephoneRespo" class="form-label"
                          >Contact</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="telephone"
                          id="telephoneRespo"
                          placeholder="xxxxxxx"
                        />
                      </div>
                      <div
                        class="col-md-1 d-flex justify-content-center align-items-center"
                      >
                        <i
                          class="feather icon-plus-circle icon-md onboarding-add-icon mt-4"
                          width="34"
                          (click)="addResponsable()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-2">
                  <button
                    class="btn btn-secondary me-2"
                    type="button"
                    awPreviousStep
                  >
                    Back
                  </button>
                  <button
                    class="btn btn-success"
                    type="button"
                    (click)="finishFunction()"
                  >
                    Finish
                  </button>
                </div>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- row -->

<pre>
  {{ step1Form.value | json }}
</pre>
