<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <h3 class="mb-3 card-title">ETAPE 3 :Remplissez le formulaire de demande de prêt</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="step2Form">
          <aw-wizard>
            <aw-wizard-step stepTitle="Etape 1">
              <div formGroupName="step1Group">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="denomination" class="form-label">Dénomination complète de l'entité</label>
                    <input type="text" class="form-control" id="denomination" formControlName="denomination"
                      placeholder="Dénomination complète de l'entité" />
                  </div>
                  <div class="col-md-6">
                    <label for="typeEntite" class="form-label">filière d'intervention</label>
                    <select formControlName="typeEntite" class="form-select" id="typeEntite" title="typeEntite">
                      <option selected disabled>selectionner un type</option>
                      <option *ngFor="let typeEntite of typeEntites" value="{{ typeEntite }}">
                        {{ typeEntite }}
                      </option>
                    </select>
                  </div>

                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="typeEntite" class="form-label">Nature de l'activitée pour laquelle le credit est
                      demandé</label>
                    <select formControlName="natureActivite" class="form-select" id="typeEntite" title="typeEntite">
                      <option selected disabled>selectionner un type</option>
                      <option *ngFor="let typeEntite of typeEntites" value="{{ typeEntite }}">
                        {{ typeEntite }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Nom et prenoms du principal contact</label>
                    <input type="text" formControlName="nomPrenomContactPrincipal" class="form-control"
                      id="abbreviations" placeholder="Abbreviation" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Position du contact</label>
                    <input type="text" formControlName="positionContact" class="form-control" id="abbreviations"
                      placeholder="Abbreviation" />
                  </div>
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Numero de telephone du contact</label>
                    <input type="text" formControlName="numeroContact" class="form-control" id="abbreviations"
                      placeholder="Abbreviation" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Email du contact</label>
                    <input type="text" formControlName="emailContact" class="form-control" id="abbreviations"
                      placeholder="Abbreviation" />
                  </div>
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Capital social</label>
                    <input type="text" formControlName="capitalSocial" class="form-control" id="abbreviations"
                      placeholder="Abbreviation" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="nombreAnneeExperienceDirecteur" class="form-label">NOMBRE D'ANNEE D'EXPERIENCE DU
                      DIRECTEUR/GERANT DANS LA FILIERE</label>
                    <input type="text" formControlName="nombreAnneeExperienceDirecteur" class="form-control"
                      id="nombreAnneeExperienceDirecteur" placeholder="nombreAnneeExperienceDirecteur" />
                  </div>
                  <div class="col-md-6">
                    <label for="nombreAnneeExperienceFondateur" class="form-label">NOMBRE D'ANNEE D'EXPERIENCE DU
                      FONDATEUR DANS LA FILIERE</label>
                    <input type="text" formControlName="nombreAnneeExperienceFondateur" class="form-control"
                      id="nombreAnneeExperienceFondateur" placeholder="nombreAnneeExperienceFondateur" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">Assurance de l'entité</label>
                    <input class="form-control" type="file" id="fichierDfe" title="fichierDfe"
                      (change)="changeFile($event, 'assuranceEntite')" />
                  </div>
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">ADRESSE EMAIL DE L'ENTITE</label>
                    <input type="email" formControlName="addresseEmailEntite" class="form-control"
                      id="addresseEmailEntite" placeholder="ADRESSE EMAIL DE L'ENTITE" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">INFORMATION PRODUCTEURS/FOURNISSEURS (Nombres,
                      contacts, localisation,
                      volumes contractuels, mode de reglement, délai de
                      reglement) </label>
                    <input class="form-control" type="file" id="informationsProducteurs" title="informationsProducteurs"
                      (change)="changeFile($event, 'informationsProducteurs')" />
                  </div>
                  <div class="col-md-6">
                    <label for="abbreviations" class="form-label">INFORMATION CLIENTS (Liste, contacts, localisation,
                      volumes contractuels, mode de reglement, délai de reglement) </label>
                    <input class="form-control" type="file" id="informationsClients" title="informationsClients"
                      (change)="changeFile($event, 'informationsClients')" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="tonnageTotalRealiseParCampagne" class="form-label">TONNAGE TOTAL REALISE PAR CAMPAGNE
                      (SUR LES 3 DERNIERES CAMPAGNES)</label>
                    <input class="form-control" type="file" id="tonnageTotalRealiseParCampagne"
                      title="tonnageTotalRealiseParCampagne"
                      (change)="changeFile($event, 'tonnageTotalRealiseParCampagne')" />
                  </div>
                  <div class="col-md-6">
                    <label for="attestationDebonneExecution" class="form-label">ATTESTATION DE BONNE EXECUTION</label>
                    <input class="form-control" type="file" id="attestationDebonneExecution"
                      title="attestationDebonneExecution"
                      (change)="changeFile($event, 'attestationDebonneExecution')" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="tonnageTotalRealiseParCampagne" class="form-label">ETATS FINANCIERS CERTIFIES SUR DEUX
                      ANS</label>
                    <input class="form-control" type="file" id="etatsFinancierCertifieSurDeuxAns"
                      title="etatsFinancierCertifieSurDeuxAns"
                      (change)="changeFile($event, 'etatsFinancierCertifieSurDeuxAns')" />
                  </div>
                  <div class="col-md-6">
                    <label for="dispositionCompteBancaire" class="form-label">DISPOSITION DE COMPTE BANCAIRE</label>
                    <select formControlName="dispositionCompteBancaire" class="form-select" id="dispositionCompteBancaire" title="dispositionCompteBancaire">
                      <option selected value="oui">Oui</option>
                      <option value="non">Non</option>

                    </select>
                  </div>
                </div>
                <div class="row mb-3">

                  <div class="col-md-6">
                    <label for="engagementPret" class="form-label">Avez-vous un engagement ou prêt contracté en cours?</label>
                    <select formControlName="engagementPret" class="form-select" id="engagementPret"
                      title="engagementPret">
                      <option selected value="oui">Oui</option>
                      <option value="non">Non</option>

                    </select>
                  </div>
                    <div class="col-md-6">
                      <label for="informationsPretBancaires" class="form-label">Si, oui, fournir les INFORMATIONS sur DES ENGAGEMENTS OU DES PRÊTS CONTRACTES ACTUELLEMENT
                      (Preteur, date octroye, duree, montant total, montant rembourse)</label>
                      <input class="form-control" type="file" id="informationsPretBancaires" title="informationsPretBancaires"
                        (change)="changeFile($event, 'informationsPretBancaires')" />
                    </div>
                </div>

                <div class="row mb-3">

                  <div class="col-md-12">
                    <label for="engagementPret" class="form-label">AVEZ-VOUS DÉJÀ CONNU DES CONTENTIEUX/LITIGES DANS LE REGLEMENT DE VOS ENGAGEMENTS  ?
                    Si oui :
                    Quelle banque ?
                    Quel montant ?
                    Situation actuelle ? Réglé / En cours de règlement / Pas réglé</label>
                    <textarea class="form-control" id="contentieuxReglementEngagement" rows="5"></textarea>
                  </div>

                </div>

              </div>
              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-light me-2" type="button">
                  Enregister
                </button>
                <button class="btn btn-primary" type="button" awNextStep>
                  Terminer
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Page 4">
              <div class=" text-center">
                <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
                <h3 class="text-muted mb-3">Félicitations !</h3>
                <h4 class="w-75 mx-auto mb-4 text-muted">
                  Félicitations toutes vos données du KYB ont été bien enregistrées.

                  Vous pouvez passer à l'étape suivante afin de renseigner les informations sur votre activité et
                  quelques données
                  financières (ETAPE 3 : KYB).
                </h4>
              </div>
              <!-- <div class="d-flex justify-content-center mt-2">
                <button (click)="formCompleted = true;" class="btn btn-secondary me-2" type="button">
                  VOIR MES INFORMATIONS
                </button>
              </div> -->
            </aw-wizard-step>
          </aw-wizard>
        </form>
      </div>
    </div>
  </div>
</div>
