<div class="row w-100 h-100 mx-0 my-0 auth-page">
  <div class="w-100 px-0">
    <div class="card">
      <div class="row vh-100">
        <div class="col-md-8 pe-md-0">
          <div class="auth-side-wrapper "
            [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/963x764)' }">

          </div>
        </div>
        <div class="col-md-4 ps-md-0 bg-white">
          <h1 routerLink="." class="nobleui-logo d-block mt-5 mx-3 t-uppercase">AFIN<span>CAP</span></h1>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
