<div class="row w-100 h-100 mx-0 my-0 auth-page">
  <div class="w-100 px-0">
    <div class="card">
      <div class="row vh-100">
        <div class="col-md-8 pe-md-0">
          <div class="auth-side-wrapper "
            [ngStyle]="{ 'background-image': 'url(https://image-blog.comptoir.fr/bresil/2017/11/dghchocolatier.jpg)' }">

          </div>
        </div>
        <div class="col-md-4 ps-md-0 bg-white">
          <img class="auth-logo" src="assets/images/logo-green.png" alt="logo">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
